html, body {
  height: 100%;
}

body {
  padding-top: 90px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.thumb {
	float: left;
	margin: 0 10px 10px 0;
}

figure.thumb figcaption {
	display: none;
}

h2 {
	margin-top: 0;
}

/* endless scroll button */
div.seemore a {
	width: 150px;
	height: 50px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	background-color: #333;
	font-weight: bold;
	display: block;
	margin: 10px auto;
}