html, body {
  height: 100%;
}

body {
  padding-top: 90px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.thumb {
	float: left;
	margin: 0 10px 10px 0;
}

figure.thumb figcaption {
	display: none;
}

h2 {
	margin-top: 0;
}